* {
  box-sizing: border-box;
}

.contacto-container {
  padding: 60px 40px;
}

.container {
  display: flex;
  gap: 80px;
}

.mensaje-enviado{
  display: block;
  text-align: center;
  margin-bottom: 30px;
  background-color: lightgray;
}
.mensaje-enviado i{
  color: greenyellow;
}

/* Columna izquierda */
.info {
  width: 40%;
  text-align: center;
}

.info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.info p {
  color: #6b6b6b;
  margin-bottom: 30px;
}

.social a > i:hover{
  transform: scale(1.2) rotate(3deg);
}



/* Columna derecha */

.form h2 {
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  background: #f2f2f2;
  font-size: 14px;
}

form textarea {
  height: 120px;
  resize: none;
}

form button {
    margin-top: 20px;
      width: 100%;
  background-color: rgb(255, 196, 0);     
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

form button:hover {
  background-color: rgb(255, 199, 15);     
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
