*{
    margin: 0;
    padding: 0;
}


header{
    background: linear-gradient(
        42deg,
        rgb(0, 0, 0) 0 80px,
        rgb(255, 196, 0) 88px 100%
    );
    display: flex;
    justify-content: space-between;
}

header ul{
    list-style: none;
}

header ul>li{
    float: left;
    padding: 12px 0;
    margin: 0 11px;
}


footer{
    background-color: rgb(0, 0, 0);
}

footer > div > i{
    color: rgb(255, 196, 0);
}

#fondo-informacion{
    background-image: url("../img/fondo-index.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 200px 0px 200px 100px;
    transition: 0.3s ease;
}

#fondo-informacion:hover{
    box-shadow: 0 0 30px inset  rgb(255, 196, 0);
}

#fondo-informacion div{
    width: 50%;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

